CREATE TABLE [dbo].[Ranks](
	[ID] [int] NOT NULL,
	[Student_Name] [varchar](100) NULL,
	[Student_Marks] [decimal](5, 2) NULL,
	[Dept] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ranks] ([ID], [Student_Name], [Student_Marks], [Dept]) VALUES (1, N'Alice Johnson', CAST(88.75 AS Decimal(5, 2)), N'Computer Science')
INSERT [dbo].[Ranks] ([ID], [Student_Name], [Student_Marks], [Dept]) VALUES (2, N'Bob Smith', CAST(91.20 AS Decimal(5, 2)), N'Mathematics')
INSERT [dbo].[Ranks] ([ID], [Student_Name], [Student_Marks], [Dept]) VALUES (3, N'Charlie Brown', CAST(78.50 AS Decimal(5, 2)), N'Physics')
GO
