
CREATE TABLE [dbo].[Sales](
	[OrderID] [int] NOT NULL,
	[Product] [varchar](255) NULL,
	[Category] [varchar](255) NULL,
	[Subcategory] [varchar](255) NULL,
	[Region] [varchar](100) NULL,
	[SalesAmount] [decimal](18, 2) NULL,
	[UnitsSold] [int] NULL,
	[SalesDate] [date] NULL,
	[Discount] [decimal](5, 2) NULL,
	[ProfitMargin] [decimal](5, 2) NULL,
	[CustomerSegment] [varchar](100) NULL,
	[Salesperson] [varchar](255) NULL,
	[SalesChannel] [varchar](100) NULL,
	[ShippingMode] [varchar](100) NULL,
	[ShippingCost] [decimal](18, 2) NULL,
	[QuantityOrdered] [int] NULL,
	[StoreLocation] [varchar](100) NULL,
	[SalesTarget] [decimal](18, 2) NULL,
	[URLIMG] [nvarchar](max) NULL,
	[SalesPIMG] [nvarchar](max) NULL,
	[PersonIMG] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
